.main {
    padding: 6rem;
    min-height: 100vh;
    background: linear-gradient(90.1deg, rgb(158, 252, 203) 16.8%, rgb(63, 100, 255) 105.2%);
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.wrapperTitle {
    margin: 2rem 0 1rem;
}

.wrapperPhoto {
    position: relative;
}

.wrapperPhotos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.wrapperCheckbox {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
}

.controlPannel {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.wrapperResultRow {
    margin: 0 0 1rem;
}

.wrapperResultPhoto {
    position: relative;
}

.wrapperDownloadButton {
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
}

.wrapperResultPhoto:hover .wrapperDownloadButton {
    visibility: visible;
}

.wrapperDivider {
    margin: 2rem 0;
}